body {
    padding: 0;
    margin: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Additional for footer */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1000px;
    margin: 30px auto;
    display: block;
    /* and bottom 30px - it should be 30px under the bottom of the header (screenshot) center horizontally */
}
